<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

    <!-- Image Logo -->
    <a style="text-decoration: none; color: black;" class="navbar-brand logo-image" href="index.html">Manch</a> 
    
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a> -->
                <a class="nav-link page-scroll" href="index.html#header">HOME <span class="sr-only">(current)</span></a>
            </li>
           
<!-- Dropdown Menu -->          
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS OF USE</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="trademark.html"><span class="item-text">TRADEMARK</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="genral-note.html"><span class="item-text">GENERAL NOTE</span></a>
                </div>
            </li>
            <!-- end of dropdown menu -->
        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
                <a href="https://www.facebook.com/BharatKaManch/" target="_blank">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="https://twitter.com/BharatKaManch" target="_blank">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="https://www.quora.com/profile/Manch-App-1" target="_blank">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab  fa-quora fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="https://www.instagram.com/bharatkamanch/" target="_blank">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="https://www.linkedin.com/company/bharatkamanch/" target="_blank">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                </a>
            </span>
        </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->
